
.menu-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  margin-top: 40px;
  background-color: #8B4513; /* 茶色の背景色 */
}

.menu-heading {
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Pacifico', cursive; /* Pacificoフォントの使用 */
  color: white; /* 白色の文字色 */
}

.menu-item-heading {
  font-size: 40px;
  font-family: 'Pacifico', cursive; /* Pacificoフォントの使用 */
  color: white; /* 白色の文字色 */
  position: relative; /* 相対位置指定 */
  display: inline-block; /* インラインブロック要素に変更 */
}

.menu-item {
  font-size: 20px;
  color: white; /* 白色の文字色 */
  font-family: 'Pacifico', cursive; /* Pacificoフォントの使用 */
}

.menu-item-list {

  font-size: 20px;
  margin-left: 0; /* デフォルトのリストスタイルを削除 */
  list-style-type: none; /* リストスタイルを削除 */
  padding-left: 0; /* 左余白を削除 */
}

.admin-link {
  background-color: white;
  color: #8B4513; /* 茶色の文字色 */
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 60px;
  margin-left: 900px;
  text-decoration: none;
  border: none;
}

.like-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

img {
  border-radius: 50%;
}

.menu-item-header {
  display: flex;
  justify-content: right;
  align-items: center;
  
}

/* application.css */
.login-container, .registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: #8B4513;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #999;
}

.login-container {
  width: 500px;
}

.registration-container {
  width: 600px;
}

.login-heading, .registration-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Pacifico', cursive;
  color: white;
}

.form-input {
  margin: 10px 0;
  width: 100%;
}

.form-submit {
  margin-top: 20px;
  background-color: white;
  color: #8B4513;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #8B4513;
  color: white;
}